*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    background-color:black;
    padding-right: 15px;
    padding: 20px;
    


}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: white;
    margin: 20px;
    text-decoration: none;
    color: white;
}
.logo a span{
    color: blue;
    
}

.content li{
    list-style-type: none;
    display: inline-block;
    


}

.content li a{
    color: azure;
    font-size: 20px;
    text-decoration: none;
    padding-inline: 10px;
    

}
.content button {
    background-color: blue;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    
}
.content button a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size:20px ;

}
hr{
    border: 1px solid black;
    width: 100%;
    


}
 .about{
    background-image: url(./3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
 }
  h1{
    font-size: 50px;
    margin-top: 0;
    color: white;
    
    

 }
  h1 span{
    color: black;
    font-size:50px ;
    
 }

  p{
    font-size: 20px;
    color: #fff;
    
 }